<head>
  <meta charset="utf-8">
  <title>Local Church Events</title>
  <link rel="stylesheet" href="Local_Church_Events.css">
  <link rel="icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Philosopher|Sacramento&display=swap" rel="stylesheet">
</head>

div#container
{
   width: 994px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #D7FFFD;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}

h1 {
  font-size: 100px;
  margin-top: 100px;
  margin-bottom: -50px;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading1
{
   color: #000000;
   font-family: 'Sacramento', cursive;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
