@font-face
{
   font-family: "Material Icons";
   font-style: normal;
   font-weight: 400;
   src: url(MaterialIcons-Regular.eot);
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(MaterialIcons-Regular.woff2) format('woff2'),
        url(MaterialIcons-Regular.woff) format('woff'),
        url(MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons
{
   font-family: "Material Icons";
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   display: inline-block;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   -moz-osx-font-smoothing: grayscale;
   font-feature-settings: "liga";
}
@-webkit-keyframes jello-horizontal
{
   0% { -webkit-transform: rotateX(0deg) ;  }
   30% { -webkit-transform: rotateX(0deg) scale3d(1.25,0.75,1.0) ;  }
   40% { -webkit-transform: rotateX(0deg) scale3d(0.75,1.25,1.0) ;  }
   50% { -webkit-transform: rotateX(0deg) scale3d(1.15,0.85,1.0) ;  }
   65% { -webkit-transform: rotateX(0deg) scale3d(0.95,1.05,1.0) ;  }
   75% { -webkit-transform: rotateX(0deg) scale3d(1.05,0.95,1.0) ;  }
   100% { -webkit-transform: rotateX(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@-moz-keyframes jello-horizontal
{
   0% { -moz-transform: rotateX(0deg) ;  }
   30% { -moz-transform: rotateX(0deg) scale3d(1.25,0.75,1.0) ;  }
   40% { -moz-transform: rotateX(0deg) scale3d(0.75,1.25,1.0) ;  }
   50% { -moz-transform: rotateX(0deg) scale3d(1.15,0.85,1.0) ;  }
   65% { -moz-transform: rotateX(0deg) scale3d(0.95,1.05,1.0) ;  }
   75% { -moz-transform: rotateX(0deg) scale3d(1.05,0.95,1.0) ;  }
   100% { -moz-transform: rotateX(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@keyframes jello-horizontal
{
   0% { transform: rotateX(0deg) ;  }
   30% { transform: rotateX(0deg) scale3d(1.25,0.75,1.0) ;  }
   40% { transform: rotateX(0deg) scale3d(0.75,1.25,1.0) ;  }
   50% { transform: rotateX(0deg) scale3d(1.15,0.85,1.0) ;  }
   65% { transform: rotateX(0deg) scale3d(0.95,1.05,1.0) ;  }
   75% { transform: rotateX(0deg) scale3d(1.05,0.95,1.0) ;  }
   100% { transform: rotateX(0deg) scale3d(1.0,1.0,1.0) ;  }
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
.visibility-hidden
{
   visibility: hidden;
}
a.style1
{
   color: #084042;
   text-decoration: none;
}
a.style1:visited
{
   color: #084042;
   text-decoration: none;
}
a.style1:active
{
   color: #FF0000;
   text-decoration: none;
}
a.style1:hover
{
   color: #FFFFFF;
   text-decoration: none;
}
h1, .h1
{
   font-family: 'Sacramento', cursive;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2, .h2
{
   font-family: 'Philosopher', sans-serif;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3, .h3
{
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4, .h4
{
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5, .h5
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6, .h6
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.Top Heading
{
   font-family: "Sacramento', cursive";
   font-weight: bold;
   font-size: 32px;
   line-height: 72.03px;
   text-decoration: none;
   color: #66BFBF;
   background-color: transparent;
}
